<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    {{ page.header }}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      {{ page.primary_menu }}
      {{ page.secondary_menu }}
    </div>
  </div>
</nav>

<div class="container">
  {{ featured }}
</div>

<div class="container">
  {{ page.breadcrumb }}
  {{ page.highlighted }}
  {{ page.help }}

  <main>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="row">
      {{ page.sidebar_second }}
      <div {% if page.sidebar_first or page.sidebar_second %} class="col-lg-9" {% endif %}>
        {{ page.content }}
      </div>

      {% if page.sidebar_first or page.sidebar_second %}
      <div class="col-lg-3">
        {% if page.sidebar_first %}
          <aside>
            {{ page.sidebar_first }}
          </aside>
        {% endif %}

        {% if page.sidebar_second %}
          <aside>
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>
      {% endif %}
    </div>

  </main>
</div>

{% if page.footer %}
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <div class="container">
    {{ page.footer }}
  </div>
</footer>
{% endif %}
